---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro'; // Will create this next
import Contact from '../components/Contact.astro'; // Will create this next
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<Services />
        <Contact />
	</main>
	<Footer />
</Layout>
